.container
  / Outer Row
  .row.justify-content-center
    .col-xl-10.col-lg-12.col-md-9
      .card.card-default.o-hidden.border-0.shadow-lg.my-5
        .card-body.p-0
          / Nested Row within Card Body
          .row
            .col-lg-6.d-none.d-lg-block.bg-login-image
            .col-lg-6
              .p-5
                .text-center
                  %h1.h4.text-gray-900.mb-4 Welcome Back!
                .small
                  = haml :'partials/notifications'
                - ::Ditty::Services::Authentication.providers.each do |name|
                  - provider = ::Ditty::Services::Authentication[name]
                  - next if provider[:login_prompt].nil?
                  %p
                    %a.btn.btn-block.btn-secondary{ href: "#{settings.map_path}/auth/#{name}" }
                      %i.fab.fw{ class: "fa-#{provider[:icon] || 'key'}"}
                      = provider[:login_prompt]
                - if ::Ditty::Services::Authentication.provides? 'identity'
                  = haml :'auth/identity'
