.container
  .card.o-hidden.border-0.shadow-lg.my-5
    .card-body.p-0
      / Nested Row within Card Body
      .row
        .col-lg-5.d-none.d-lg-block.bg-register-image
        .col-lg-7
          .p-5
            .text-center
              %h1.h4.text-gray-900.mb-4 Create an Account!
            = haml :'partials/notifications'
            - ::Ditty::Services::Authentication.providers.each do |name|
              - provider = ::Ditty::Services::Authentication[name]
              - next if provider[:register_prompt].nil?
              %p
                %a.btn.btn-user.btn-block{ href: "#{settings.map_path}/auth/#{name}", class: "btn-#{provider[:icon] || 'key'}" }
                  %i.fab.fa-fw{ class: "fa-#{provider[:icon] || 'key'}"}
                  = provider[:register_prompt]
            - if ::Ditty::Services::Authentication.provides? 'identity'
              = haml :'auth/register_identity', locals: { identity: identity }
