/ TODO: How can we detect a google registration? Extra parameter to the callback? Or a custom callback page?
.row
  .col-md-2
  .col-md-8
    .panel.panel-default
      .panel-body
        - if Ditty::Services::Authentication.provides? 'identity'
          = haml :'auth/register_identity', locals: { identity: identity }
          .row
            .col-sm-12= "&nbsp;"
        .row
          .col-sm-8.col-sm-push-2
            - Ditty::Services::Authentication.providers.each do |name|
              - provider = Ditty::Services::Authentication[name]
              - next if provider[:register_prompt].nil?
              %a.btn.btn-block.btn-default{ href: "#{settings.map_path}/auth/#{name}" }
                %i.fa{ class: "fa-#{provider[:icon] || 'key'}"}
                = provider[:register_prompt]
  .col-md-2
