.row
  .col-md-2
  .col-md-8
    .panel.panel-default
      .panel-body
        = form_tag("#{settings.map_path}/auth/register/identity") do
          = form_control(:username, identity, label: 'Email', placeholder: 'your@email.com')
          = form_control(:password, identity, label: 'Password', type: :password)
          = form_control(:password_confirmation, identity, label: 'Confirm Password', type: :password)

          - if identity.errors[:password] && identity.errors[:password].include?('is not strong enough')
            .alert.alert-warning
              %p Make sure your password is at least 8 characters long, and including the following
              %ul
                %li Upper- and lowercase letters
                %li Numbers
                %li Special Characters

          - if policy(::Ditty::User).register?
            %button.btn.btn-primary{ type: 'submit' } Register
        .row
          .col-sm-12= "&nbsp;"
        - if Ditty::Services::Authentication.provides? 'google_oauth2'
          .row
            .col-sm-8.col-sm-push-2
              %a.btn.btn-block.btn-default{ href: "#{settings.map_path}/auth/google_oauth2" }
                %i.fa.fa-google
                Register with Google
  .col-md-2
