.container
  / Outer Row
  .row.justify-content-center
    .col-xl-10.col-lg-12.col-md-9
      .card.card-default.o-hidden.border-0.shadow-lg.my-5
        .card-body.p-0
          / Nested Row within Card Body
          .row
            .col-lg-6.d-none.d-lg-block.bg-password-image
            .col-lg-6
              .p-5
                .text-center
                  %h1.h4.text-gray-900.mb-2
                    Reset your Password
                = edit_form_tag("#{settings.map_path}/auth/reset-password") do
                  %input{ name: 'token', value: params[:token], type: 'hidden' }
                  - if identity.errors[:password] && identity.errors[:password].include?('is not strong enough')
                    .alert.alert-warning
                      %p Make sure your password is at least 8 characters long, and including the following
                      %ul
                        %li Upper- and lowercase letters
                        %li Numbers
                        %li Special Characters
                  = form_control(:password, identity, type: 'password', placeholder: 'Your password', group: 'identity')
                  = form_control(:password_confirmation, identity, type: 'password', label: 'Confirm Password', placeholder: 'Confirm your password', group: 'identity')
                  %button.btn.btn-primary{ type: 'submit' }
                    Reset Password
                %hr
                - if policy(::Ditty::User).register?
                  .text-center
                    %a.small{ href: "#{settings.map_path}/auth/register" } Create an Account!
                .text-center
                  %a.small{ href: "#{settings.map_path}/auth/login" } Already have an account? Login!

      .row.justify-content-center
        .col-xl-10.col-lg-12.col-md-9
