- if defined?(context)
  - if context.interval
    %li.nav-item.dropdown.no-arrow
      %a#intervalDropdown.nav-link.dropdown-toggle{ href: '#', role: 'button', 'aria-haspopup': 'true', 'area-expanded': 'false', 'data-toggle': 'dropdown' }
        %span.mr-2.d-none.d-lg-inline.text-gray-600
          Interval /
          %strong
            = context.interval
      .dropdown-menu.dropdown-menu-right.shadow.animated--grow-in{ 'aria-labelledby': 'intervalDropdown' }
        %a.dropdown-item{ href: "?#{URI.encode_www_form(and_params.merge(interval: '1m'))}", class: context.interval == '1m' ? 'active' : '' }
          1 Minute
        %a.dropdown-item{ href: "?#{URI.encode_www_form(and_params.merge(interval: '5m'))}", class: context.interval == '5m' ? 'active' : '' }
          5 Minutes
        %a.dropdown-item{ href: "?#{URI.encode_www_form(and_params.merge(interval: '15m'))}", class: context.interval == '15m' ? 'active' : '' }
          15 Minutes
        .dropdown-divider
        %a.dropdown-item{ href: "?#{URI.encode_www_form(and_params.merge(interval: '1h'))}", class: context.interval == '1h' ? 'active' : '' }
          1 Hour
        %a.dropdown-item{ href: "?#{URI.encode_www_form(and_params.merge(interval: '3h'))}", class: context.interval == '3h' ? 'active' : '' }
          3 Hours
        %a.dropdown-item{ href: "?#{URI.encode_www_form(and_params.merge(interval: '6h'))}", class: context.interval == '6h' ? 'active' : '' }
          6 Hours
        .dropdown-divider
        %a.dropdown-item{ href: "?#{URI.encode_www_form(and_params.merge(interval: '1d'))}", class: context.interval == '1d' ? 'active' : '' }
          1 Day
        %a.dropdown-item{ href: "?#{URI.encode_www_form(and_params.merge(interval: '2d'))}", class: context.interval == '2d' ? 'active' : '' }
          2 Days
        %a.dropdown-item{ href: "?#{URI.encode_www_form(and_params.merge(interval: '1w'))}", class: context.interval == '1w' ? 'active' : '' }
          1 Week

  - if context.timespan
    %li.nav-item.dropdown.no-arrow
      %a#timespanDropdown.nav-link.dropdown-toggle{ href: '#', role: 'button', 'aria-haspopup': 'true', 'area-expanded': 'false', 'data-toggle': 'dropdown' }
        %span.mr-2.d-none.d-lg-inline.text-gray-600
          Timespan /
          %strong
            = context.timespan.split('/').first
      .dropdown-menu.dropdown-menu-right.shadow.animated--grow-in{ 'aria-labelledby': 'timespanDropdown' }
        %a.dropdown-item{ href: "?#{URI.encode_www_form(and_params.merge(timespan: '1h', interval: ''))}", class: context.timespan == '1h' ? 'active' : '' }
          %i.fas.fa-chevron-right.fa-sm.fa-fw.mr-2.text-gray-400
          1 Hour
        %a.dropdown-item{ href: "?#{URI.encode_www_form(and_params.merge(timespan: '1d', interval: ''))}", class: context.timespan == '1d' ? 'active' : '' }
          %i.fas.fa-chevron-right.fa-sm.fa-fw.mr-2.text-gray-400
          1 Day
        .dropdown-divider
        %a.dropdown-item{ href: "?#{URI.encode_www_form(and_params.merge(timespan: '1w/d', interval: ''))}", class: context.timespan == '1w/d' ? 'active' : '' }
          %i.fas.fa-chevron-right.fa-sm.fa-fw.mr-2.text-gray-400
          1 Week
        %a.dropdown-item{ href: "?#{URI.encode_www_form(and_params.merge(timespan: '2w/d', interval: ''))}", class: context.timespan == '2w/d' ? 'active' : '' }
          %i.fas.fa-chevron-right.fa-sm.fa-fw.mr-2.text-gray-400
          2 Weeks
        %a.dropdown-item{ href: "?#{URI.encode_www_form(and_params.merge(timespan: '1M/d', interval: ''))}", class: context.timespan == '1M/d' ? 'active' : '' }
          %i.fas.fa-chevron-right.fa-sm.fa-fw.mr-2.text-gray-400
          1 Month
        .dropdown-divider
        %a.dropdown-item{ href: "?#{URI.encode_www_form(and_params.merge(timespan: '3M/d', interval: ''))}", class: context.timespan == '3M/d' ? 'active' : '' }
          %i.fas.fa-chevron-right.fa-sm.fa-fw.mr-2.text-gray-400
          3 Months
        %a.dropdown-item{ href: "?#{URI.encode_www_form(and_params.merge(timespan: '6M/d', interval: ''))}", class: context.timespan == '6M/d' ? 'active' : '' }
          %i.fas.fa-chevron-right.fa-sm.fa-fw.mr-2.text-gray-400
          6 Months
        %a.dropdown-item{ href: "?#{URI.encode_www_form(and_params.merge(timespan: '1y/d', interval: ''))}", class: context.timespan == '1y/d' ? 'active' : '' }
          %i.fas.fa-chevron-right.fa-sm.fa-fw.mr-2.text-gray-400
          1 Year
