.row
  .col-md-2
  .col-md-8
    .panel.panel-default
      .panel-body
        %form.form-horizontal{ method: 'post', action: "#{settings.map_path}/auth/identity/new" }
          = form_control(:username, identity, label: 'Email', placeholder: 'your@email.com')
          = form_control(:password, identity, label: 'Password', type: :password, autocomplete: 'off')
          = form_control(:password_confirmation, identity, label: 'Confirm Password', type: :password, autocomplete: 'off')
          - if identity.errors[:password]
            .alert.alert-warning
              %p Your password is not strong enough
              %ul
                - identity.errors[:password].each do |error|
                  %li
                    Your password
                    = error
          - if policy(::Ditty::Identity).register?
            %button.btn.btn-primary{ type: 'submit' } Register
        .row
          .col-sm-12= "&nbsp;"
        - if Ditty::Services::Authentication.provides? 'google_oauth2'
          .row
            .col-sm-8.col-sm-push-2
              %a.btn.btn-block.btn-default{ href: "#{settings.map_path}/auth/google_oauth2" }
                %i.fa.fa-google
                Register with Google
  .col-md-2
