.row.mb-4
  .col-md-2
  .col-md-8
    .card.card-default
      .card-body
        %p.description
          %label Name:
          = entity.name.titlecase
        %p.description
          %label Parent:
          %a{ href: "#{base_path}/#{entity.parent_id}" }= entity.parent&.name&.titlecase || '(None)'

        .row
          .col-md-6
            %a.btn.btn-secondary{ href: "#{base_path}/#{entity.display_id}/edit" } Edit
          .col-md-6.text-right
            - if policy(entity).delete?
              = delete_form_tag("#{base_path}/#{entity.display_id}") do
                %button.btn.btn-warning{ type: 'submit' } Delete
  .col-md-2

.row
  .col-md-2
  .col-md-8
    .card.card-default
      .card-body
        %h4.card-title Included Roles
      %table.table.table-striped.mb-0
        %tbody
          - if entity.descendants.count > 0
            - entity.descendants.each do |role|
              %tr
                %td
                  %a.btn-block{ href: "#{settings.map_path}/role/#{role.id}" }
                    = role.name.titlecase
          - else
            %tr
              %td.text-center No records
