.row
  .col-md-12
    = haml :'partials/search'
    .card.card-default.shadow.table-responsive
      %table.table.table-striped.table-bordered.table-hover.mb-0
        %thead.thead-dark
          %tr
            %th= "Email&nbsp;#{sort_ui(:email)}"
            %th= "Name&nbsp;#{sort_ui(:name)}"
            %th= "Surname&nbsp;#{sort_ui(:surname)}"
            %th Roles
            %th= "Signed&nbsp;Up&nbsp;#{sort_ui(:created_at)}"
            %th
        %tbody
          - if list.count > 0
            - list.all.each do |entity|
              %tr
                %td
                  - if policy(entity).read?
                    %a{ href: "#{base_path}/#{entity.display_id}" }= entity.email
                  - else
                    = entity.email
                %td= entity.name
                %td= entity.surname
                %td= entity.all_roles.map(&:name).map(&:titlecase).join(', ')
                %td= entity.created_at.strftime('%Y-%m-%d')
                %td
                  - if policy(entity).update?
                    %a{ href: "#{base_path}/#{entity.display_id}/edit", title: 'Edit' }
                      %i.fa.fa-edit
          - else
            %tr
              %td.text-center{ colspan: 6 } No records

      - if list.count > 0
        .card-body
          = pagination(list, base_path)
