.row.mb-4
  .col-md-2
  .col-md-8
    .card.card-default.shadow
      .card-body
        .author
          %img.float-right.img-thumbnail{ src: entity.gravatar }
          %h4= entity.email

        %hr
        %p.description
          %label Name:
          = entity.name || '(None)'
        %p.description
          %label Surname:
          = entity.surname || '(None)'
        %p.description
          %label Roles:
          = entity.roles_dataset.map(:name).map(&:titlecase).join(', ')
        %p.description
          %label Signed up:
          = entity.created_at.strftime('%Y-%m-%d %H:%M:%S')
        .row
          .col-md-6
            - if policy(entity).update?
              %a.btn.btn-secondary{ href: "#{base_path}/#{entity.display_id}/edit" } Edit
          .col-md-6.text-right
            - if policy(entity).delete?
              = delete_form_tag("#{base_path}/#{entity.display_id}") do
                %button.btn.btn-warning{ type: 'submit' } Delete
  .col-md-2

.row.mb-4
  .col-md-2
  .col-md-8
    .card.card-default.shadow
      .card-body
        %h4.card-title Change Password
        = edit_form_tag("#{base_path}/#{entity.display_id}/identity") do
          - if current_user.super_admin? == false || current_user_id == entity.id
            = form_control(:old_password, identity, type: 'password', placeholder: 'Your current password', value: '')
          = form_control(:password, identity, type: 'password', placeholder: 'Your new password')
          = form_control(:password_confirmation, identity, type: 'password', label: 'Confirm Password', placeholder: 'Confirm your password')
          %button.btn.btn-primary{ type: 'submit' }
            Change Password
  .col-md-2

= haml :'users/login_traits', locals: { user_login_traits: entity.user_login_traits }
