.row
  .col-md-12
    .card.card-default
      .card-body
        = haml :'partials/search'
      %table.table.table-striped
        %thead.thead-dark
          %tr
            %th User
            %th IP Address
            %th Device
            %th Platform
            %th Browser
            %th Last Seen
        %tbody
          - if list.count.positive?
            - list.all.each do |entity|
              %tr
                %td= entity.user&.email || 'Unknown'
                %td
                  %a{ href: "#{base_path}/#{entity.display_id}" }= entity.ip_address || 'Unknown'
                %td= entity.device || 'Unknown'
                %td= entity.platform || 'Unknown'
                %td= entity.browser || 'Unknown'
                %td= entity.updated_at
          - else
            %tr
              %td.text-center{ colspan: 6 } No records

=pagination(list, base_path)
